<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{text}}</p>
    <p id="text with circle">Here is the circle <span id="radio-button"></span></p>
  </div>
  {{>footer}}
</body>

</html>
