<header>
  <h1>{{title}}</h1>
  <div id="header-links">
    <a class="header-link" href="/">Weather</a>
    <a class="header-link" href="/About">About</a>
    <a class="header-link" href="/Help">Help</a>
  </div>

</header>
