* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  /* --color-primary: rgb(8, 55, 63); */
}

body {
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-content {
  min-height: 100%;
  flex-grow: 1;
  padding: 1rem;
}
header {
  margin: 5rem 0;
  /* color: var(--color-primary); */
  -webkit-text-stroke: 1px black;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;

  /* rgb(65, 207, 226); */
  /* -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(227, 234, 240),
    rgb(81, 100, 146)
  ); */
}

.header-link {
  font-size: 1.6rem;
  color: inherit;
  margin-right: 3rem;
  font-weight: 800;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

.header-link:hover {
  text-decoration: underline;
}

input,
button {
  font-size: 1.2em;
  padding: 0.7rem;
}

input {
  width: 18rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
  color: #888888;
}
input:active,
input:focus {
  outline: 0;
  border-image: none;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  border-radius: 5px;
  color: white;
  background: #888888;
  margin: 1.3rem 1rem;
}
button:active,
button:focus {
  outline: 0;
  border-image: none;
}

#label {
  margin-top: 2rem;
}
#message-1,
#message-2 {
  line-height: 2rem;
}
.portrait {
  height: 15rem;
  border-radius: 10%;
}
footer {
  padding: 1rem;
  margin-top: auto 0;
  border-top: 1px solid #eeeeee;
  flex-shrink: 0;
}

@media only screen and (max-width: 1080px) {
  .main-content {
    margin: 0 auto;
  }
  header {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    color: white;
  }
  #header-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: white;
  }
  .header-link {
    margin: 0.3rem;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  input,
  button {
    font-size: 1rem;
  }
}

/* Circle */
.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -0.4;
}
.form__radio-button::after {
  content: '';
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}
